$secondaryColor:rgb(64,64,64);
$primaryColor:rgb(100, 0, 0);

img{
  object-fit: contain;
  width: 50px;
  height: 50px;
}
.item {
  margin: 50px 50px 0px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width:200px;
  height:200px;
  color: black;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 10px 10px 10px rgb(0, 0, 0);

 }
 .item:hover{

  box-shadow: 1px 1px 10px rgb(255, 255, 255);

} 
.img-wrapper{
display: flex;
justify-content: center;
}
span{
  color: white;
  width:100px;
  height:30px;
  border-radius: 5px;
  padding: 5px;
  background-color:$primaryColor ;
}
span:hover{
  background-color: $secondaryColor;

}
h5{
  font-size: 10px;
}
p{
  font-size: 10px;
}
@media only screen and (min-width: 768px ) {
  body {
   background-color: lightblue;
  }
   h5{
    font-size: 15px;
  }
  p{
    font-size: 15px;
  } 
  img{
    object-fit: contain;
    width: 200px;
    height: 200px;
  }
  .item {
    margin: 50px 50px 0px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:400px;
    height:400px;
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
   }
   span{
    color: white;
    width:200px;
    height:60px;
    border-radius: 10px;
    padding: 10px;
    background-color:$primaryColor ;
    font-size: 15px;
  }

 }

 
/*  @media only screen and (min-width: 1024px ) {
  body {
   background-color: lightblue;
  }
   h5{
    font-size: 30px;
  }
  p{
    font-size: 30px;
  } 
  img{
    object-fit: contain;
    width: 300px;
    height: 300px;
  }
  .item {
    margin: 50px 50px 0px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:600px;
    height:600px;
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
   }
   span{
    color: white;
    width:300px;
    height:90px;
    border-radius: 10px;
    padding: 10px;
    background-color:$primaryColor ;
    font-size: 25px;
  }
} 
 */